



/* FOR INDEX PAGE*/
  #section1 {
	background-color: #168ccc;
    color:#dedeff;
	padding-top:50px;
}
#section2 {
	background-color: #e5e5ef;
    color:#686868;
		padding-top:50px;
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
		padding-top:50px;
}

#section4 {
	background-color: #e5e5ef;;
    color:#444;
		padding-top:50px;
}
.bold{
font-weight:bolder;
}
  