body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 10px;
	width:900px;
	margin:0 auto;
	color:grey;
	border-style:solid;
	padding:20px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
	width:200px;
	border-radius:100px;
}
#panel{
text-align:center;

}
td{
text-align:center;
}

